@import '../../components/variables.scss';

.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  margin: 0;
}

.error {
  color: red;
}

.moviesContainer {
  align-items: stretch;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0;
  max-width: 94vw;
  min-height: 50vh;
}

.root {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-grow: 1;
    min-height: 600px;
  }
}
