@import '../variables.scss';

.container {
  display: flex;
  flex-grow: 10;
  justify-content: center;

  @media screen and (min-width: 894px) {
    left: 0;
    position: absolute;
    right: 0;
  }
}

.logo {
  height: 5rem;
}

.navigation {
  display: flex;
  font-family: $fontFamilyPretty;
  font-size: 16px;
  line-height: 5rem;
  text-transform: uppercase;

  a {
    color: white;
    font-weight: 100;
    margin-left: 24px;
    opacity: 0.2;
    text-decoration: none;

    &.activeLink {
      font-weight: 200;
      opacity: 1;
    }
  }
}

.root {
  background: linear-gradient(rgba($lightgreen, 0.3), transparent);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;
}
