@import '../variables.scss';

.castLink {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: $fontFamilyBase;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.castName {
  bottom: -14px;
  color: white;
  display: none;
  font-family: $fontFamilyBase;
  font-size: 12px;
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
}

.container {
  background: linear-gradient(rgba($lightgreen, 0.3), transparent);
  display: flex;
  justify-content: center;
}

.logo {
  height: 5rem;
  text-decoration: none;
}

.navigation {
  display: flex;
  font-family: $fontFamilyPretty;
  font-size: 16px;
  left: 0;
  line-height: 5rem;
  position: fixed;
  text-transform: uppercase;
  top: 0;

  a {
    color: white;
    font-weight: 100;
    margin-left: 24px;
    opacity: 0.2;
    text-decoration: none;

    &.activeLink {
      font-weight: 200;
      opacity: 1;
    }
  }
}

.portrait {
  margin: 0 auto;
  width: 100%;
}

.portraitContainer {
  border-radius: 50%;
  box-sizing: border-box;
  height: 25px;
  margin: 0.25rem;
  overflow: hidden;
  position: relative;
  width: 25px;
}

.portraits {
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  top: 0;
}

.root {
  width: 100vw;
}
